AMAZON_SP_CLIENT_ID=
AMAZON_SP_CLIENT_SECRET=
AMAZON_SP_REFRESH_TOKEN=
AMAZON_MARKETPLACE_ID=ATVPDKIKX0DER
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SCOPE=https://www.googleapis.com/auth/spreadsheets
SPREADSHEET_URL_OR_ID=
SPREADSHEET_ID=
SHEET_NAME=N8N_DOWNLOAD
RANGE=A:BD
